In [ ]:
import pandas as pd
import numpy as np
import plotly.offline as pyo
import plotly.graph_objs as go


df = pd.read_csv("/home/jfractal/Documentos/dataton_2021/dataton_AGUA_2021/consumo-agua.csv")

In [9]:
#df.dtypes ## muestra los nombres de los campos y su tipo.
df.columns

Index(['id', 'geo_point_2d', 'geo_shape', 'consumo_total_mixto', 'anio',
       'nomgeo', 'consumo_prom_dom', 'consumo_total_dom', 'alcaldia',
       'colonia', 'consumo_prom_mixto', 'consumo_total', 'consumo_prom',
       'consumo_prom_no_dom', 'bimestre', 'consumo_total_no_dom', 'gid',
       'indice_des'],
      dtype='object')

In [17]:
df2 = df.iloc[:, [8,9,7,17,1]]
df2.head(10)

,alcaldia,colonia,consumo_total_dom,indice_des,geo_point_2d
0,GUSTAVO A. MADERO,7 DE NOVIEMBRE,468.23,ALTO,"19.4552601937,-99.1126617526"
1,GUSTAVO A. MADERO,7 DE NOVIEMBRE,107.81,MEDIO,"19.4552601937,-99.1126617526"
2,GUSTAVO A. MADERO,7 DE NOVIEMBRE,122.93,POPULAR,"19.4557195871,-99.1135822797"
3,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,0.00,BAJO,"19.4596467168,-99.1044693641"
4,AZCAPOTZALCO,PROHOGAR,539.49,BAJO,"19.4741606185,-99.1467497317"
5,AZCAPOTZALCO,TRABAJADORES DEL HIERRO,927.57,BAJO,"19.4786132637,-99.1505710391"
6,AZCAPOTZALCO,BARRIO COLTONGO,4633.05,BAJO,"19.4802112624,-99.1523159396"
7,AZCAPOTZALCO,BARRIO COLTONGO,0.00,POPULAR,"19.4790956153,-99.1489199748"
8,AZCAPOTZALCO,TRABAJADORES DEL HIERRO,1716.72,BAJO,"19.4785851242,-99.1488473055"
9,AZCAPOTZALCO,TRABAJADORES DEL HIERRO,207.65,BAJO,"19.4772727955,-99.1479205102"

In [21]:
df2['lat'], df2['lon'] = df2['geo_point_2d'].str.split(',', 1).str ## Separamos el campo geo_point_2d en dos nuevas columnas
df2.head()

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: FutureWarning:

Columnar iteration over characters will be deprecated in future releases.

/usr/lib/python3/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,alcaldia,colonia,consumo_total_dom,indice_des,geo_point_2d,lat,lon
0,GUSTAVO A. MADERO,7 DE NOVIEMBRE,468.23,ALTO,"19.4552601937,-99.1126617526",19.4552601937,-99.1126617526
1,GUSTAVO A. MADERO,7 DE NOVIEMBRE,107.81,MEDIO,"19.4552601937,-99.1126617526",19.4552601937,-99.1126617526
2,GUSTAVO A. MADERO,7 DE NOVIEMBRE,122.93,POPULAR,"19.4557195871,-99.1135822797",19.4557195871,-99.1135822797
3,GUSTAVO A. MADERO,NUEVA TENOCHTITLAN,0.00,BAJO,"19.4596467168,-99.1044693641",19.4596467168,-99.1044693641
4,AZCAPOTZALCO,PROHOGAR,539.49,BAJO,"19.4741606185,-99.1467497317",19.4741606185,-99.1467497317

In [54]:
consumoAguaAlcaldia = pd.DataFrame(df2.groupby(["alcaldia"]).consumo_total_dom.sum())##Agrupamos por alcaldía y calculamos su total de consumo

consumoAguaAlcaldia = consumoAguaAlcaldia.rename_axis('alcaldia').reset_index()
print(consumoAguaAlcaldia)

               alcaldia  consumo_total_dom
0        ALVARO OBREGON       6.590161e+06
1          AZCAPOTZALCO       6.153755e+06
2         BENITO JUAREZ       9.894931e+06
3              COYOACAN       5.128303e+06
4            CUAJIMALPA       2.064264e+06
5            CUAUHTEMOC       1.034611e+07
6     GUSTAVO A. MADERO       9.196449e+06
7             IZTACALCO       4.663498e+06
8            IZTAPALAPA       5.263020e+06
9   MAGDALENA CONTRERAS       8.449665e+05
10       MIGUEL HIDALGO       8.640463e+06
11           MILPA ALTA       7.250709e+04
12              TLAHUAC       6.018023e+05
13              TLALPAN       2.877269e+06
14  VENUSTIANO CARRANZA       5.007008e+06
15           XOCHIMILCO       1.283415e+06

In [ ]:
consumoAguaColonia = pd.DataFrame(df2.groupby(["colonia"]).consumo_total_dom.sum())##Agrupamos por colonia y calculamos su consumo Total de agua
print(consumoAguaColonia)

In [ ]:
consumoAguaIndiceDes = pd.DataFrame( ((df2.groupby(['indice_des']).consumo_total_dom.sum() )))##Agrupamos por índice de desarrollo y calculamos su consumo total de agua
consumoAguaIndiceDes.head()

In [ ]:
coloniasIndiceDes = pd.DataFrame(df2.indice_des.value_counts() )### Calculamos una tabla de frecuencias de colonias con su indice de desarrollo
print(coloniasIndiceDes)

# Gráficas

In [58]:
data = [go.Bar(x=consumoAguaAlcaldia["alcaldia"] , y=consumoAguaAlcaldia["consumo_total_dom"]   )]
layout = go.Layout(title="Consumo de Agua Domiciliario por Alcaldía\nCDMX 2019",
                    xaxis= dict(title="Alcaldías"),
                    yaxis= dict(title="Consumo Total de Agua"),
                    barmode = "stack" )
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig)

'temp-plot.html'