# Código que limpia y homologa los regitros de los siguientes dataset:
## Consumo de agua en la CDMX. Primer semestre del 2019 
## Población Total de la CDMX 2020

In [1]:
#Importamos los módulos
import pandas as pd
import numpy as np
import unicodedata

# Consumo de agua en la CDMX. Primer semestre 2019

In [2]:
# Cargamos el conjunto de datos
consAgua = pd.read_csv("/home/jfractal/Documentos/dataton_2021/dataton_AGUA_2021/consumo-agua.csv")
consAgua.columns ##muestra el nombre de los campos

Index(['id', 'geo_point_2d', 'geo_shape', 'consumo_total_mixto', 'anio',
       'nomgeo', 'consumo_prom_dom', 'consumo_total_dom', 'alcaldia',
       'colonia', 'consumo_prom_mixto', 'consumo_total', 'consumo_prom',
       'consumo_prom_no_dom', 'bimestre', 'consumo_total_no_dom', 'gid',
       'indice_des'],
      dtype='object')

## Creamos un subconjunto de datos con los campos: 
+ alcaldia
+ colonia
+ consumo_total
+ consumo_total_dom,
+ consumo_total_no_dom 
+ bimestre
+ geo_point_2d

In [3]:
sub_consAgua= consAgua.iloc[:,[8,9,11,7,15,3,14,1]]
sub_consAgua.columns

Index(['alcaldia', 'colonia', 'consumo_total', 'consumo_total_dom',
       'consumo_total_no_dom', 'consumo_total_mixto', 'bimestre',
       'geo_point_2d'],
      dtype='object')

## De sub_consAgua crearemos dos conjunto de datos:
+ consAguaAlcaldia que contiene los campos: alcaldia, consumo_total, consumo_total_dom,consumo_total_no_dom y bimeste
+ consAguaColonia que contiene los campos: alcaldia, consumo_total, consumo_total_dom,consumo_total_no_dom, bimeste y geo_poin_2d

In [ ]:
consAguaAlcaldia = sub_consAgua.iloc[:,[0,2,3,4,5,6]]

##Agrupa por alcaldia y sumamos valores
consAguaAlcaldiaTotal = pd.DataFrame(consAguaAlcaldia.groupby(["alcaldia"]).agg({"consumo_total":'sum', 
                                                                               "consumo_total_dom":'sum',
                                                                                "consumo_total_no_dom":'sum',
                                                                                "consumo_total_mixto":"sum"}).reset_index())

##Creamos nuevos campos que es el consumo de agua respecto del total
consAguaAlcaldiaTotal["consumo_total/TOTAL"] = ((consAguaAlcaldiaTotal["consumo_total"]/consAguaAlcaldiaTotal["consumo_total"].sum()).round(4))*100
consAguaAlcaldiaTotal["consumo_total_dom/TOTAL"] = ((consAguaAlcaldiaTotal["consumo_total_dom"]/consAguaAlcaldiaTotal["consumo_total_dom"].sum()).round(4))*100
consAguaAlcaldiaTotal["consumo_total_no_dom/TOTAL"] = ((consAguaAlcaldiaTotal["consumo_total_no_dom"]/consAguaAlcaldiaTotal["consumo_total_no_dom"].sum()).round(4))*100
consAguaAlcaldiaTotal["consumo_total_mixto/TOTAL"] = ((consAguaAlcaldiaTotal["consumo_total_mixto"]/consAguaAlcaldiaTotal["consumo_total_mixto"].sum()).round(4))*100


consAguaAlcaldiaTotal.to_csv('/home/jfractal/Documentos/dataton_2021/dataton_AGUA_2021/consumoAguaTotalAlcaldia.csv')

#consAguaAlcaldiaTotal

In [ ]:
##Agrupamos por alcaldia y bimestre y sumamos valores
consAguaAlcaldiaTotal_bimestre = pd.DataFrame(consAguaAlcaldia.groupby(["alcaldia","bimestre"]).agg({"consumo_total":'sum', 
                                                                               "consumo_total_dom":'sum',
                                                                                "consumo_total_no_dom":'sum',
                                                                                "consumo_total_mixto":"sum"}))

consAguaAlcaldiaTotal_bimestre.head(4)

In [8]:
consAguaColonia = sub_consAgua.iloc[:,[0,1,2,3,4,5,6,7]]
consumoAguaColonia2 = pd.DataFrame(consAguaColonia.groupby(["colonia"]).consumo_total.sum())##Agrupamos por colonia y calculamos su consumo Total de agua\n",
print(consumoAguaColonia2)
#consumoAguaColonia2 = consumoAguaColonia2.rename_axis('colonia').reset_index()
#print(consumoAguaColonia)

                      consumo_total
colonia
10 DE ABRIL                18615.57
10 DE MAYO                 46761.97
12 DE DICIEMBRE            18878.59
15 DE AGOSTO               27514.12
16 DE SEPTIEMBRE           37867.09
...                             ...
ZENON DELGADO               5571.32
ZENTLAPATL                  1533.30
ZONA CENTRO               386166.05
ZONA ESCOLAR              130047.17
ZONA ESCOLAR ORIENTE      180963.16

[1340 rows x 1 columns]

99.99000000000001